

{%- if form.errors -%}
  {% if multi == true %}
    <ul class="xuer-form-error-msg xuer-line2 xuer-form-error-multi"> 
      {%- for field in form.errors -%}
        <li>
          {% render 'icon', name: 'error' %}
          {%- if field == 'form' -%}
            {{ form.errors.messages[field] }}
          {%- else -%}
            {{ form.errors.translated_fields[field] | capitalize }}
            {{ form.errors.messages[field] }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {% else %}
    <div class="xuer-form-error-msg xuer-line2">
      {% render 'icon', name: 'error' %}
      {{ form.errors.messages['form'] }}
    </div>
  {% endif %}
{%- endif -%}