
{%- if request.page_type == 'index' -%}
  <h1 class="header__heading {% if section.menu_alignment == 'center' %} left {% endif %}">
{%- endif -%}
    <a href="{{ routes.root_url }}" >
      {%- if section.logo != blank -%}
        {%- assign logo_alt = section.logo.alt | default: shop.name | escape -%}
        <div class="img-wrapper desktop ">
          {%- render 'image', image: section.logo, width: section.desktop_logo_width, max_width: 300, alt: logo_alt -%}
        </div>
        <div class="img-wrapper mobile ">
          {%- render 'image', image: section.logo, width: section.mobile_logo_width, max_width: 300, alt: logo_alt -%}
        </div>
      {%- else -%}
        <span>
            {{ shop.name }}
        </span>
      {%- endif -%}
    </a>
{%- if request.page_type == 'index' -%}
  </h1>
{%- endif -%}