{%- liquid
  assign product_images = product.media | where: 'media_type', 'image'
  assign cheapest_variant = product.variants | sort: 'price' | first
-%}

<xuer-product-item class="custom-section product-item-container" >
  <div class="product-image-wrapper">
    <div class="product-image-show">
      {%- 
        render 'image', 
        image: product.media.first.preview_image
      -%}
    </div>
    {% comment %} <div class="product-image-hover">
      {%- for image in product_images -%}
        <div class="product-image-hover_img">
          {%- render 'image', image: image, alt: image.alt -%}
        </div>
      {%- endfor -%}
    </div> {% endcomment %}
    
  </div>


</xuer-product-item>