
<xuer-quantity-selector class="quantity_container {{ size }}" data-trigger="{{ trigger }}">
  <div class="quantity_min quantity_button noselect">
    {% render 'icon', name: 'minus' %}
  </div>
  <input 
    class="quantity_input xuer_input xuer_input_pure" 
    autocomplete="off" 
    type="text"
    inputmode="numeric" 
    aria-label="Change quantity"
    min="1"
    max=""
    size="1"
    value="{{ quantity }}"
    quantity-selector
    name="{{ name }}"
  />
  <div class="quantity_plus quantity_button noselect">
    {% render 'icon', name: 'plus' %}
  </div>
</xuer-quantity-selector>