@import url(./variables.less);
/**********************
* account
*/
.xuer-form-error-msg {
  color: var(--error_color);
  background-color: var(--error_color_fade);
  display: flex;
  align-items: center;
  padding: @distance;
  &.xuer-form-error-multi {
    display: block;
    li{
      display: flex;
      align-items: center;
      &+li{
        margin-top: @distance;
      }
    }
  }
  svg{
    width: 20px;
    margin-right: @distance;
  }
}

.account {
  margin: @distance4 auto;
  .account-title {
    text-align: center;
    margin-bottom: @distance3;
  }
  .account-description {
    text-align: center;
  }
  .account-form {
    width: 460px;
    margin: 0 auto;
    .account-reset {
      display: block;
    }
  }
  .create-account {
    text-align: center;
    a{
      text-decoration: underline;
    }
  }
}

.account-main {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: @distance2 0;
  

  .account-main_aside {
    width: 320px;
    .account-main_info {
      .account-main_logout {
        display: flex;
        align-items: center;
        a{
          padding-left: @distance;
        }
        svg{
          width: 15px;
        }
      }
    }
    .account-menu {
      .account-menu_item{
        height: @distance5;
        line-height: @distance5;
        padding-left: @distance2;
        border-bottom: 1px solid var(--border_color);
        cursor: pointer;
        a{
          display: block;
        }
        &.active{
          border-right:2px solid var(--primary_color);
          background-color: var(----primary_color_fade);
        }

      }
    }
  }
  .account-main_main {
    flex: 1;
    padding-left: @distance5;
    .account-main_title, .account-main_info {
      text-align: center;
    }
    .account-main_content,.account-main_empty {
      min-height: 240px;
      display: block;
    }
    .account-main_empty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .add-address {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .main-address_list {
      margin-bottom: @distance4;
      .main-address_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: @distance2 0;
        border-bottom: 1px solid var(--border_color);
        .ant-list-item-meta-title {
          font-size: 14px;
        }
        .address-item_info {
          color: var(--text_color_fade);
          font-size: 14px;
          line-height: 1;
          margin-top: @distance;
        }
      }
    }
  }
}