@import url(./variables.less);
@keyframes rotateInfinit{
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateDash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
.xuer-loading {
  .flex-center;
  svg {
    margin: auto;
    animation: rotateInfinit 2s linear infinite;
    transform-origin: center center;
  }
  circle {
    animation: rotateDash 1.5s ease-in-out infinite;
  }
}
.xuer-button-animate-popup {
  position: relative;
  &::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: var(--primary_button_background_color);
  }
  &:hover{
    &::after{
      transform: scaleX(1.2) scaleY(1.4);
      opacity: 0;
    }
  }
}