@import url(./variables.less);
@keyframes rotateInfinit{
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateDash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.xuer-animate_fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.xuer-animate_fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}

.xuer-animate_delay1 {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.xuer-animate_delay2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.xuer-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
}

.xuer-loading {
  .flex-center;
  svg {
    margin: auto;
    animation: rotateInfinit 2s linear infinite;
    transform-origin: center center;
  }
  circle {
    animation: rotateDash 1.5s ease-in-out infinite;
  }
}


a:not(.xuer-button_wrapper):not(.xuer-link_keep):hover, .link:not(.xuer-button_wrapper):not(.xuer-link_keep):hover{
  opacity: 0.7;
}

a.xuer-image-enlarge{
  &:hover{
    opacity: 1;
  }
}
.xuer-image-enlarge {
  .xuer-image-wrapper img{
    .trans;
  }
  &:hover {
    .xuer-image-wrapper img{
        transform:scale(1.1,1.1);
        transform-origin: center;
    }
  }
}