@import url(./variables.less);
/**********************
* collage
*/
.collage{
  display: flex;
  justify-content: space-between;
  padding: 0 @distance2 @distance2;
  &.is_two {
    .collage-block{
      width: 50%;
      &:first-child{
        margin-right: @distance;
      }
      &:last-child{
        margin-left: @distance;
      }
    }
  }
  .collage-block {
    width: 100%;
    position: relative;
  }
}