/**********************
* common
*/
@import url('./variables.less');

body{
  color:var(--text_color);
}
body.lock{
  overflow: hidden;
}
a{
  color: var(--link_color);
  text-decoration: var(--link_decoration);
}
a:hover{
  color: var(--link_active_color);
}
[hidden] {
  display: none;
}
.full-width-padding {
  .padding-horizontal(4);
  box-sizing: border-box;
}
.padding-ver-2 {
  .padding-vertical(2);
}
.padding-ver-1 {
  .padding-vertical(1);
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.xuer-image-wrapper {
  .xuer-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .xuer-placeholder-image {
    &.xuer-full svg{
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}

.xuer-h1 {
  
}
.xuer-h2 {
  font-size: 67px;
  
}
.xuer-h3 {
  
}
.xuer-h4 {
  
}
.xuer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: @distance;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: @radius;
  &.fill{
    background-color: var(--button_fill_background_color);
    color: var(--button_fill_text_color);
    &:hover{
      background-color: var(--button_fill_text_color);
      color: var(--button_fill_background_color);
    }
  }
  &.outline{
    background-color: var(--button_outline_background_color);
    border:1px solid var(--button_outline_text_color);
    color: var(--button_outline_text_color);
    &:hover{
      color: var(--primary_color);
      border-color: var(--primary_color);
    }
  }
}
@media screen and (min-width: @screen-desktop){
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: @screen-desktop-under){
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}