@import url(./variables.less);
/**********************
* drawer
*/
.drawer-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: @black-background-fade;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  color: var(--text_color_fade);
  .trans;
  .drawer-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  &.open{
    opacity: 1;
    visibility: visible;
    .drawer-main{
      transform: translateX(0);
    }
  }
  .drawer-main {
    position: relative;
    z-index: 1;
    float: right;
    width: 480px;
    background: @white-background;
    height: 100%;
    transform: translateX(100%);
    transition: .3s;
    display: flex;
    flex-direction: column;
    .drawer-header {
      border-bottom: 1px solid var(--border_color);
      display: flex;
      justify-content: space-between;
      .padding-horizontal(2);
      align-items: center;
      height: @drawer-title-height;
      color: var(--text_color_fade);
      .header-box-shadow(var(--border_color));
      .close {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    .drawer-content-wrapper{
      flex: 1;
      overflow-y: auto;
      position: relative;
      .drawer-main {
        display: block;
        overflow-y: auto;
        padding: @distance2;
        box-sizing: border-box;
      }
      .drawer-content {
        flex: 1;
        overflow: hidden;
        .drawer-padding-container {
          padding: @distance2;
          display: block;
          height: 100%;
          overflow-y: auto;
          box-sizing: border-box;
        }
      }
    }
  }
  
  #mini-cart-container {
    padding: @distance2;
    display: block;
    .mini-product_container {
     display: flex; 
     justify-content: space-between;
     margin-top: @distance3;
     .mini-product_image_wrapper {
        width: 90px;
        height: 90px;
        .flex-center;
        img{
          max-width: 100%;
          max-height: 100%;
        }
     }
     .mini-product_main {
      flex: 1;
      padding: 0 @distance2;
      .mini-product_remove {
        cursor: pointer;
      }
      .mini-product_title{
        line-height: 1.5;
        display: block;
      }
      .mini-product_options {
        font-size: 14px;
        .mini-product-item {
          padding-right: @distance;
        }
      }
     }
    }

  }
}

