/**********************
* drawer
*/
.drawer-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00000063;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  color: var(--text_color_fade);
  .trans;
  .drawer-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  &.open{
    opacity: 1;
    visibility: visible;
    .drawer-main{
      transform: translateX(0);
    }
  }
  .drawer-main {
    position: relative;
    z-index: 1;
    float: right;
    width: 480px;
    background: #fff;
    height: 100%;
    transform: translateX(100%);
    transition: .3s;
    display: flex;
    flex-direction: column;
    .drawer-header {
      border-bottom: 1px solid var(--text_border_color);
      display: flex;
      justify-content: space-between;
      .padding-horizontal(2);
      align-items: center;
      height: 60px;
      color: var(--text_color_fade);
      .close {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    .drawer-content-wrapper{
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
      position: relative;
      .drawer-main {
        display: block;
        overflow-y: auto;
        padding: @distance2;
        box-sizing: border-box;
      }
      .drawer-loading{
        position: absolute;
        top: 132px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        &.show{
          display: flex;
        }
        svg {
          margin: auto;
          animation: rotateInfinit 2s linear infinite;
          transform-origin: center center;
        }
        circle {
          animation: rotateDash 1.5s ease-in-out infinite;
        }
      }
      .drawer-content {
        flex: 1;
        overflow: hidden;
      }
    }
  }
  .search-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .search-input {
      margin: @distance2;
      background: rgba(0,0,0,.02);
      border-radius: 3px;
      padding: 0;
      height: @distance5;
      position: relative;
      border: 1px solid var(--text_border_color);
      input{
        width: 100%;
        background: transparent;
        border: none;
        box-shadow: none;
        color: inherit;
        font-size: inherit;
        padding: 12px 12px 12px 24px;
        box-sizing: border-box;
        height: 100%;
      }
      .search-submit{
        position: absolute;
        right: 12px;
        top: 0;
        height: 100%;
        width: @distance4;
        color: var(--text_color_fade);
        .flex-center;
        height: 100%;
        svg{
          width: @distance3;
          height: @distance3;
        }
      }
    }
    .search-suggest-wrapper{
      flex: 1;
      overflow-y: auto;
      padding-bottom: @distance2;
      overscroll-behavior: contain;
      .shopify-section {
        &>span{
          display: none;
        }
      }
    }
    #predictive-search-results{
      #predictive-search-products {
        display: none;
      }
      .predictive-search__item {
        display: flex;
        &:hover{
          box-shadow: 0 0 20px rgb(0 0 0 / 10%);
          background-color: none;
        }
        padding: @distance @distance2;
        margin: @distance2;
        .trans;
        box-shadow: 0 0 5px rgb(0 0 0 / 5%);
        .trans;
        img{
          width: 100px;
          height: auto;
          max-height: 300px;
        }
        .predictive-search__item-content {
          flex: 1;
          padding-left: @distance2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .predictive-search__item-heading{
            margin-bottom: @distance;
          }
        }
      }
      .predictive-search__list-item {
        button{
          padding: @distance2;
          border: none;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          outline: none;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          margin: 0 @distance2;
          display: block;
          background: rgba(0, 0, 0, 0.01);
          flex: 1;
          &:hover{
            background: none;
          }
          svg{
            width: @distance2;
          }
        }
      }
      #predictive-search-option-search-keywords {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .predictive-search__loading-state {
        display: none;
      }
    }
  }
  .localization-container {
    .xuer-list-selector {
      .form-selected {

      }
      
    }
  }
}

