/**********************
* featured-product
*/

.featured-product {
  display: flex;

  margin-bottom: 30px;

  .featured-product_slide {
    width: 45%;
  }
  .featured-product_blocks {
    width: 50%;
    box-sizing: border-box;
    padding-left: @distance3;
  }

}
