@import url(./variables.less);

/**********
* footer
*/
.site-footer {
  background-color: var(--footer_background_color);
  color: var(--footer_text_color);
  padding: @distance3;
  a{
    color: var(--footer_text_color);
  }
  .footer-block-container {
    .xuer-row .xuer-col {
      margin-bottom: @distance2;
    }
  }
}