@import url(./variables.less);
/**********************
* form
*/
/***** radio *****/
.xuer-radio-selector {
  .xuer-option-item {
    margin-bottom: @distance;
    .xuer-option-item_label {
      .flex-center;
      justify-content: space-between;
      margin-bottom: @distance;
    }
    .xuer-option-item_btns {
      display: flex;
      flex-wrap: wrap;
      margin: -@distance 0 0 -@distance;
      .xuer-option-item_input {
        display: none;
      }
      .xuer-option-item_btn {
        .flex-center;
        padding: @distance;
        border: 1px solid #dbdcdc;
        margin: @distance;
        border-radius: @borderRds;
        cursor: pointer;
      }
      .xuer-option-item_input:checked+.xuer-option-item_btn {
        border-color: #707173;
      }
    }
  }
}
/******* buttons *****/
.xuer-button {
  cursor: pointer;
  padding: @distance @distance2 ;
  background-color: var(--button_fill_background_color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: @radius;
  box-sizing: border-box;
  font-size: 15px;
  &.xuer-button_block {
    display: block;
    width: 100%;
  }
  &.xuer-button_fill{
    background-color: var(--button_fill_background_color);
    color: var(--button_fill_text_color);
    &:hover{
      background-color: var(--button_fill_text_color);
      color: var(--button_fill_background_color);
    }
  }
  &.xuer-button_outline{
    background-color: var(--button_outline_background_color);
    border:1px solid var(--button_outline_text_color);
    color: var(--button_outline_text_color);
    &:hover{
      color: var(--primary_color);
      border-color: var(--primary_color);
    }
  }
}

.xuer-radio-wrapper {
  box-sizing: border-box;
  margin: 0 @distance 0 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
  .xuer-radio {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    top: 0.2em;
    display: inline-block;
    outline: none;
    cursor: pointer;
    .xuer-radio-input {
      position: absolute;
      inset: 0;
      z-index: 1;
      cursor: pointer;
      opacity: 0;
    }
    .xuer-radio-inner {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      width: @distance2;
      height: @distance2;
      background-color: #fff;
      border:1px solid  #d9d9d9;
      border-radius: 50%;
      transition: all .3s;
      &::after{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: @distance2;
        height: @distance2;
        margin-top: -@distance;
        margin-left: -@distance;
        background-color: var(--ant-primary-color);
        border-top: 0;
        border-left: 0;
        border-radius: @distance2;
        transform: scale(0);
        opacity: 0;
        transition: all .3s cubic-bezier(.78,.14,.15,.86);
        content: " ";
      }
    }
  }
  .xuer-radio-label{
    padding-right: @distance;
    padding-left: @distance;
  }
  &.xuer-radio-wrapper-checked {
    .xuer-radio{
      .xuer-radio-inner {
        border-color: var(--primary_color);
        &::after{
          transform: scale(.5);
          opacity: 1;
          transition: all .3s cubic-bezier(.78,.14,.15,.86);
          background-color: var(--primary_color);
        }
      }
    }
  }
}