@import url(./variables.less);
@import url(./font-color.less);

/**********
* layout
*/
.xuer-row{
  display: flex;
  flex-wrap: wrap;
  &.left-margin{
    margin-left: -@distance2;
  }
  &.xuer-vertical-center {
    align-items: center;
  }
  .xuer-col {
    position: relative;
    width: 100%;
    padding-right: @distance2;
    padding-left: @distance2;
    box-sizing: border-box;
    &.xuer-col-left {
      padding-left: 0;
    }
    &.xuer-col-right {
      padding-right: 0;
    }
    &.xuer-flex-1 {
      flex: 1;
    }
    &.col-3{
      flex: 0 0 25%;
      max-width: 25%;
    }
    &.col-4{
      flex: 0 0 33.3%;
      max-width: 33.3%;
    }
    &.col-6{
      flex: 0 0 50%;
      max-width: 50%;
    }
    &.col-9{
      flex: 0 0 75%;
      max-width: 75%;
    }
  }
}

.xuer-line {
  margin-bottom: @distance;
}
.xuer-line2 {
  margin-bottom: @distance2;
}
.xuer-line3 {
  margin-bottom: @distance3;
}

.xuer-line4 {
  margin-bottom: @distance4;
}

.xuer-page-title {
  margin: @distance8 auto;
  text-align: center;
  font-size: @font3;
}
.xuer-page-subtitle {
  text-align: center;
  margin-top: -@distance3;
  margin-bottom: @distance2;
  font-size: @font6;
}
.xuer-page-main {
  padding: @distance 0 @distance8;
  .xuer-pagination {
    margin-top: @distance3;
    text-align: center;
  }
}
.xuer-overlay_wrapper {
  position: relative;
  .xuer-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .flex-center;
    .xuer-overlay_cover {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #000000;
    }
    .xuer-overlay_title {
      position: relative;
      z-index: 2;
      color: #ffffff;
    }
  }
}
table {
  width: 100%;
  text-align: left;
  th{
    font-weight: bold;
  }
  td,th{
    padding: @distance;
    border: 1px solid var(--border_color);
  }
}
.xuer-table{
  width: 100%;
  text-align: left;
  th{
    font-weight: bold;
  }
  td,th{
    padding: @distance 0;
    border-bottom: 1px solid var(--border_color);
  }
}

.xuer-section-title {
  text-align: center;
  padding: @distance2 0 @distance4;
  font-size: @font3;
}
.xuer-section-empty-info {
  text-align: center;
  padding: @distance2 0 @distance4;
}
.xuer-block-title {
  font-size: @font5;
}
.xuer-align {
  &.center{
    text-align: center;
  }
  &.left{
    text-align: left;
  }
  &.right{
    text-align: right;
  }
}
xuer-list{
  display: grid;
  grid-gap: @distance3;
  gap: @distance3;
  grid-template-columns: repeat(auto-fit,calc(100% / var(--section-grid-column-count) - @distance3 * (var(--section-grid-column-count) - 1) / var(--section-grid-column-count)));
  &.xuer-list-grid-2{
    grid-template-columns: repeat(auto-fit,calc(100% / 2 - @distance3 * (2 - 1) / 2));
  }
  &.xuer-list-grid-3{
    grid-template-columns: repeat(auto-fit,calc(100% / 3 - @distance3 * (3 - 1) / 3));
  }
  &.xuer-list-grid-4{
    grid-template-columns: repeat(auto-fit,calc(100% / 4 - @distance3 * (4 - 1) / 4));
  }
  &.xuer-list-grid-5{
    grid-template-columns: repeat(auto-fit,calc(100% / 5 - @distance3 * (5 - 1) / 5));
  }
  &.xuer-list-grid-6{
    grid-template-columns: repeat(auto-fit,calc(100% / 6 - @distance3 * (6 - 1) / 6));
  }
  xuer-list-item {
    display: block;
    [xuer-list-item-image_placeholder]{
      height: 0;
      position: relative;
      svg{
        height: 100%;
        width: 100%;
        .pos-full;
      }
    }
  }
}

.xuer-shopify-section {
  padding: @distance3 0;
}
.xuer-text {
  font-size: @font5;
  line-height: 1.5;
}
.use_section_space {
  margin-top: var(--section_space);
}
.use_alt_color {
  background-color: var(--section_background_color);
}
.xuer-hidden {
  display: none;
}