@import url(./variables.less);
/**********************
* message
*/
.xuer-message-container {
  box-sizing: border-box;
  margin: 0;
  padding: @distance;
  color: var(--text_color);
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
  position: fixed;
  top: @distance;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;
  .flex-center;
  transform: translateY(-300px);
  opacity: 0;
  transition: .3s ease-in transform;
  &.loading {
    transform: translateY(0);
    opacity: 1;
    .xuer-message-content .xuer-message-main .xuer-loading {
      display: flex;
    }
  }

  .xuer-message-content {
    display: inline-block;
    padding: @distance @distance2 ;
    background: #fff;
    border-radius: @borderRds;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    pointer-events: all;
    .xuer-message-main {
      display: flex;
      align-items: center;
      .xuer-message-icon {
        position: relative;
        top: 0;
        margin-right: @distance;
        width: @distance2;
        display: none;
        align-items: center;
        justify-content: center;
        &.xuer-loading {
          color: var(--primary_color);
        }
        &.xuer-error {
          color: var(--error_color);
        }
      }
    }
  }
}