
/**********************
*       product
**********************/

/**** price *******/
.product-price-container{
  color: var(--text_color);
  .price-sold {
    color: var(--text_color);
  }
  .price-comparing {
    .price-sold {
      color: var(--primary_color);
    }
    .price-compare {
      color: var(--text_color_fade);
      text-decoration: line-through;
    }
  }

}

/******* product-section *******/
.product-section {
  display: flex;
  margin-bottom: 30px;
  .product_slide {
    width: 45%;
  }
  .product_blocks {
    width: 50%;
    box-sizing: border-box;
    padding-left: @distance3;
    .product_row {
      margin-bottom: @distance2;
    }
  }

}