@import url(./variables.less);
/**********************
* product-item
*/

.product-item-container {
  .product-image-wrapper {
    position: relative;
    .swiper-container {
      height: 100%;
    }
    &:hover{
      .product-image-hover{
        opacity: 1;
      }  
    }
    .product-image-hover {
      .pos-full;
      opacity: 1;
      .trans;

      .product-image-hover_item {
        .pos-full;
      }
      .arrow {
        position: absolute;
        z-index: 2;
        width: 32px;
        height: 35px;
        top: 50%;
        margin-top: -27px;
        left: 0;
        background: var(--primary_button_background_color_fade);
        color: var(--primary_button_text_color);
        cursor: pointer;
        &.right-arrow {
          left: auto;
          right: 0;
        }
      }
      .xuer-button-style {
        width: 25px;
        height: 25px;
      }
    }
  }
  
}
