/**********************
* slideshow
*/

.slideshow{
  width: 100%;
  height: 200px;
  .swiper-wrapper {
    overflow-x: hidden;
  }
  .swiper-slide {
    background: #fff;
    img{
      width: 100%;
    }
  }
}