{%- assign blog = blogs[section.settings.blog] -%}
<section class="page_width blog-posts xuer-animated xuer-animated-opacity" xuer-animated>
  {% if section.settings.title != blank %}
    <h2 class="xuer-h2 xuer-section-title">{{ section.settings.title }}</h2>
  {% endif %}
  
  {% if section.settings.blog == blank %}
    <div class="article-list xuer-row "  >
      {% for i in (1..section.settings.articles_count) %}
        {% 
          render 'article',
          article: article, 
          classes: "article xuer-col col-4  xuer-image-enlarge",
          layout: 'gird',
          index: forloop.index,
          is_empty: true,
          show_excerpt: section.settings.show_excerpt,
          show_date: section.settings.show_date,
          show_author: section.settings.show_author,
          show_date: section.settings.show_date,

        %}
      {% endfor %}
    </div>
  {% elsif blog.articles.size == 0 %}
    <p class="xuer-section-empty-info">{{ 'sections.blog_post_empty' | t }}</p>
  {% else %}
  <div class="article-list xuer-row xuer-animated xuer-animated-opacity"  xuer-animated>
    {% for article in blog.articles limit: section.settings.articles_count %}
      {% 
        render 'article',
        article: article, 
        classes: "article xuer-col col-4  xuer-image-enlarge",
        layout: 'gird',
        index: forloop.index,
        aspect_ratio: section.settings.image_ratio,
        show_excerpt: section.settings.show_excerpt,
        show_date: section.settings.show_date,
        show_author: section.settings.show_author,
        show_date: section.settings.show_date,
      %}
    {% endfor %}
  </div>
  {% endif %}

</section>
{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "articles_count",
      "label": "Blog posts to show",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show category",
      "info": "The first article's tag will be shown as category.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "info": "Change excerpts by editing your blog posts. [Learn more](https://help.shopify.com/en/manual/online-store/blogs/writing-blogs#display-an-excerpt-from-a-blog-post)",
      "default": false
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image ratio",
      "options": [
        {
          "value": "",
          "label": "Natural (no crop)"
        },
        {
          "value": "0.67",
          "label": "Portrait (2:3)"
        },
        {
          "value": "1.0",
          "label": "Square (1:1)"
        },
        {
          "value": "1.33",
          "label": "Landscape (4:3)"
        },
        {
          "value": "1.78",
          "label": "Wide (16:9)"
        }
      ],
      "default": "1.78"
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "settings": {
        "blog": "news"
      }
    }
  ]
}
{% endschema %}