<div class="collection-list xuer-shopify-section {% if section.settings.use_section_space %} use_section_space{%- endif -%} {% if section.settings.use_alt_color %} use_alt_color{%- endif -%}">
  {% if section.settings.title != blank %}
    <h2 class="xuer-h2 xuer-section-title" xuer-animated>{{ section.settings.title }}</h2>    
  {% endif %}
  <xuer-list class="collection-list_main page_width xuer-list-grid-{{ section.settings.columns_per_row }}">
    {% for block in section.blocks %}
      {%-liquid
        if block.settings.title != title
          assign title = block.settings.title
        else
          assign title = block.settings.collection.title
        endif
        assign animateClasses = 'xuer-animate_delay' | append : forloop.index
      -%}
      {% 
        render 'collection-item', 
        aspect_ratio: section.settings.aspect_ratio,
        collection: block.settings.collection,
        image: block.settings.image,
        title: title,
        overlay_opacity: block.settings.overlay_opacity,
        index: forloop.index,
        animateClasses: animateClasses,
        animated: true
      %}
    {% endfor %}
  </xuer-list>
</div>

{% schema %}
{
  "name": "Collection list",
  "tag": "section",
  "max_blocks": 18,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Image ratio",
      "options": [
        {
          "value": "0.67",
          "label": "Portrait (2:3)"
        },
        {
          "value": "1.0",
          "label": "Square (1:1)"
        },
        {
          "value": "1.33",
          "label": "Landscape (4:3)"
        },
        {
          "value": "1.78",
          "label": "Wide (16:9)"
        }
      ],
      "default": "1.78"
    },
    {
      "type": "range",
      "id": "columns_per_row",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Columns per row",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "use_alt_color",
      "label": "Use alternate section color",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "use_section_space",
      "label": "Use section space",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 15
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}

