

<div class="collage xuer-shopify-section {% if section.settings.full_width == false %} page_width{%- endif -%} {% if section.settings.use_section_space %} use_section_space{%- endif -%} {% if section.settings.use_alt_color %} use_alt_color{%- endif -%}" xuer-animated >
  
  {% for block in section.blocks %}
    <div class="collage-block">
      {%- 
        render 'image', 
        is_cover: true,
        image: block.settings.image 
      -%}
      <div class="collage-block_content">
        <h6 class="xuer-h6">{{ block.settings.subheading }}</h6>
        <h3 class="xuer-h3">{{ block.settings.title }}</h3>
        <div class="collage-block_buttons">
          {% if block.settings.button_label_1 != blank %}
            {% render 'form-button', 
              label: block.settings.button_label_1, 
              link: block.settings.button_link_1 
            %}
          {% endif %}
          {% if block.settings.button_label_2 != blank %}
            {% render 'form-button', 
              label: block.settings.button_label_2, 
              link: block.settings.button_link_2
            %}
          {% endif %}
          
        </div>
      </div>
    </div>
    
  {% endfor %}

</div>

{% schema %}
{
  "name": "Collage",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_alt_color",
      "label": "Use alternate section color",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_section_space",
      "label": "Use section space",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "slide",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Tell your brand's story through images",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label 1",
          "label": "Button label 1"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button link 1"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label 2",
          "label": "Button label 2"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Button link 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collage",
      "settings": {
      }
    }
  ]
}
{% endschema %}
