<div class="collection-list">
  {% if section.settings.title != blank %}
    <h2 class="xuer-h2 xuer-section-title">{{ section.settings.title }}</h2>    
  {% endif %}
  <xuer-list class="collection-list_main page_width">
    {% for block in section.blocks %}
      {% 
        render 'collection-item', 
        aspect_ratio: section.settings.aspect_ratio,
        collection: block.settings.collection,
        image: block.settings.image,
        title: block.settings.title,
        overlay_opacity: block.settings.overlay_opacity,
        index: forloop.index
      %}
    {% endfor %}
  </xuer-list>
</div>

{% schema %}
{
  "name": "Collection list",
  "tag": "section",
  "max_blocks": 18,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Image ratio",
      "options": [
        {
          "value": "0.67",
          "label": "Portrait (2:3)"
        },
        {
          "value": "1.0",
          "label": "Square (1:1)"
        },
        {
          "value": "1.33",
          "label": "Landscape (4:3)"
        },
        {
          "value": "1.78",
          "label": "Wide (16:9)"
        }
      ],
      "default": "1.78"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}

