{% style %}
#shopify-section-{{ section.id }} {
  {%- if section.settings.enable_sticky -%}
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  {%- else -%}
    position: relative;
  {%- endif -%}

  --header_background_color: {{ section.settings.header_background_color }};  
  --header_link_color: {{ section.settings.header_link_color }};
}
{% endstyle %}

{%- capture search_button -%}
<div class="header-icon" drawer-open data-action-type="search">
  {% render 'icon', name: 'search' %}
</div>
{%- endcapture -%}
<xuer-header class="header-wrapper  full-width-padding">
  <div class="page_width header-main">
    {%- liquid
      if section.settings.menu_alignment == 'left' 
        if section.settings.menu == blank and section.settings.enable_search
          echo search_button
        else
          render 'header-menu', section_settings: section.settings, blocks: section.blocks
        endif
        render 'header-logo', section_settings: section.settings
        render 'header-icons', enable_search: section.settings.enable_search and section.settings.menu != blank
      endif
  
      if section.settings.menu_alignment == 'center' 
        render 'header-logo', section_settings: section.settings
        render 'header-menu', section_settings: section.settings, blocks: section.blocks
        render 'header-icons', enable_search: section.settings.enable_search
      endif
    -%}
  </div>
</xuer-header>

{% render 'drawer' %}

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Logo",
      "info": "520 x 200px (recommended)"
    },
    {
      "type": "range",
      "id": "desktop_logo_width",
      "min": 30,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "logo width",
      "default": 150
    },
    {
      "type": "range",
      "id": "mobile_logo_width",
      "min": 30,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "mobile logo width",
      "default": 80
    },
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "label": "Enable search",
      "default": true
    },
    {
      "type": "header",
      "content": "NAVIGATION"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "header_background_color",
      "default": "#02867f",
      "label": "Header background color"
    },
    {
      "type": "color",
      "id": "header_link_color",
      "label": "Link color"
    }
  ],
  "blocks": [
    {
      "type": "custom_menu_item",
      "name": "自定义菜单",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "图片"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
