<div class="main-collections page_width">
  <aside class="collection-aside">
    {% render 'product-filters', filters: collection.filters %}

  </aside>

</div>

{% schema %}
{
  "name": "Product grid",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_sort_by",
      "label": "Show sort by",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_filters",
      "label": "Show filters",
      "info": "[Customize filters](/admin/menus)",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "Products per page"
    }
  ]
}
{% endschema %}