
<div class="xuer-page_second-banner main-collection-banner">
  <div class="banner-container xuer-overlay_wrapper">
    {% render 'image', image: collection.image, height: 300, image_type: 'cover' %}
    {%- if section.settings.show_collection_title -%}
      <div class="xuer-overlay">
        <div class="xuer-overlay_cover" style="opacity: {{ section.settings.overlay_opacity }}%;background-color: {{ section.settings.overlay_color }};"></div>
        <h2 class="xuer-overlay_title xuer-h2" style="color: {{ section.settings.text_color }}">{{ collection.title }}</h2>
      </div>
    {%- endif -%}
  </div>
  
  <div class="page_width">
  </div>
  
</div>

{% schema %}
{
  "name": "Collection banner",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Show collection title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    }
  ]
}
{% endschema %}
