<div class="account account-register" >
  <h1 class="account-title xuer-uppercase">{{ 'account.register' | t }}</h1>
  <p class="account-description xuer-line2 ">{{ 'account.register_description' | t }}</p>
  <div class="account-form">
    {% render 'form-error-msg', form: form %}
    {%- form 'create_customer' -%}
      {%- liquid
        render 'form-error-msg', form: form, multi: true
        render 'form-input', id: "customer[first_name]", name: "customer[first_name]", label: 'account.first_name', required: true, className: "xuer-line2"
        render 'form-input', id: "customer[last_name]", name: "customer[last_name]", label: 'account.last_name', required: true, className: "xuer-line2"
        render 'form-input', id: "customer[email]", type: "email", name: "customer[email]", label: 'account.email',required: true,className: "xuer-line2"
        render 'form-input', id: "customer[password]", type: "password", name: "customer[password]", label: 'account.password', required: true, className: "xuer-line2"
        render 'form-button', is_outline: true, text: 'account.create_account', className: 'xuer-line2', is_block: true, type: 'submit'
      -%}
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
