{% if section.settings.show_collection_banner %}
<div class="xuer-page_second-banner main-collection-banner">
  <div class="banner-container xuer-overlay_wrapper"
    style="height: {{ section.settings.collection_banner_height }}px"
  >
    {% 
      render 'image', 
      image: collection.image, 
      height: section.settings.collection_banner_height, 
      is_cover: 'cover'
    %}
    {%- if section.settings.show_collection_title -%}
      <div class="page_width">
        <div class="xuer-overlay">
          <div class="xuer-overlay_cover" style="opacity: {{ section.settings.overlay_opacity }}%;"></div>
          <h2 class="xuer-overlay_title xuer-h2 " xuer-animated style="color: {{ section.settings.text_color }}">{{ collection.title }}</h2>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Collection banner",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_banner",
      "label": "Show collection banner",
      "default": true
    },
    {
      "type": "range",
      "id": "collection_banner_height",
      "label": "Collection banner height",
      "min": 100,
      "max": 600,
      "step": 50,
      "default": 300
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Show collection title",
      "default": true
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    }
  ]
}
{% endschema %}
