/**********************
* common.less 
*/
@import url('./variables.less');

.full-width-padding {
  padding-left: 4*@distance;
  padding-right: 4*@distance;
  box-sizing: border-box;
}

@media screen and (min-width: @screen-desktop){
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: @screen-desktop-under){
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}