@import url('./variables.less');
/***************
* header
*/
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .search-warpper {
    width: 24px;
    height: 24px;
  }
  .header-menu-warpper {
    flex: 1;
    .menu-menu {
      .clearfix();
      li{
        float: left;
        a{
          padding: 3* @distance;
        }
      }
    }
  }
  .header-icons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}






